.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 146px;
    background-color: var(--primitive-900);
    height: 80%    ;
    max-height: 828px;

    border: 0.5px solid var(--primitive-700);
}


.home-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 75px;
    
}

.home-git{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

