.footer-cont {
  background-color: var(--primitive-900);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--primitive-400);

  border-style: solid;
  border-color: var(--primitive-700);
  border-width: 0 1px 1px 1px;

  border-radius: 0 0 var(--border-radius-3) var(--border-radius-3);

  height: max-content;
}

.footer-socials,.socials-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socials-logo {
  padding: var(--spacing-5) var(--spacing-6);
  border-left: 1px solid var(--primitive-500);
  transition: border-color 0.3s, color 0.3s;
  height: -webkit-fill-available;
}

.footer-text {
  padding: var(--spacing-5) var(--spacing-6);
}

.footer-git{
  text-decoration: none;
  color: var(--primitive-400);
}